<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/57cb23e7a3.js" crossorigin="anonymous"></script>
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet">
</head>

<body>
    <!-- Header -->
    <header id="superior">
        <div class="header-top">
            <div class="logo">
                <a href="/"><img src="/images/logo-mercado-liebre.svg"></a>
            </div>
            <form action="/resultados-de-busqueda" method="GET" class="busqueda">
                <input type="text" placeholder="Buscar productos, marcas y mas...">
                <button><i class="fas fa-search"></i></button>
            </form>
            <p class="encabezado1">
                <span> <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</span>
            </p>
        </div>
        <p class="encabezado">
            <span> <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</span>
        </p>
        <nav class="navbar"> 
            <ul class="navbar1">
                <li><a href= ""> Ofertas</a></li>
                <li><a href= "">Tiendas Oficiales</a></li>
                <li><a href= "">Vender</a></li>
                <li><a href= "">Ayuda</a></li>
            </ul>
            <ul class="navbar1">
                <li><a href= "/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href= "/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href= "">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <p></p>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>  
    </header>

    <!-- Form -->
    
    <main>
        <form action="/" method="GET" class="login">
            <div class="nombre-usuario">
                <input type="text" placeholder="Nombre de usuario">
            </div>    
            <div>    
                <input type="password" placeholder="Contraseña">
            </div>
            <div class="botonera2">
                <button type="submit">Enviar</button>
            </div>            
        </form>
    </main>

    <!-- Footer -->

    <footer>
        <div class="info-footer">
            <div class="footer-info">
                <div class="card">
                    <i class="fas fa-credit-card"></i>
                </div>
                <div class="footer-desc">
                    <p class="negrita">Pagá con tarjeta o en efectivo</p>
                    <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p><br>
                </div>
            </div>
            <div class="footer-info">
                <div class="gift">
                    <i class="fas fa-gift"></i>
                </div>
                <div class="footer-desc">
                    <p class="negrita">Envío gratis desde los $2500
                    <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio en Mercado Puntos.</p><br>
                </div>
            </div>
            <div class="footer-info">
                <div class="shield">
                    <i class="fas fa-user-shield"></i>
                </div>
                <div class=footer-desc>
                    <p class="negrita">Seguridad de principio a fin</p>
                    <p>¿No te gusta?¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@</p><br>
                </div>
            </div>
        </div>
        <span class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
    </footer>



</body>


</html>